.footer-items-container{
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 60px 0;
}

.footer-col{
  display: flex;
  flex-flow: column;
  max-width: 260px;
  align-items: flex-start;
  text-align: start;
  margin: 20px;
  width: 33%;
  min-width: 200px;
  color: white;
}

.footer-col-title{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*color: #248bde;*/
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.footerer{
  color: white;
  height: 70px;
  /*background-color: #248bde;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

@media all and (max-width:767px){
  .footer-items-container{
    padding: 0;
  }

  .footer-col{
    width: 70%;
  }
}
