.action-button{
  padding: 15px 30px;
  font-weight: bold;
  width: max-content;
  background-color: #006ba6;
  border-radius: 100px;
  color: white;
  border: 0;
  cursor: pointer;
  max-width: 500px;
}

@media all and (max-width: 1226px){
  .action-button{
    max-width: 250px;
    font-size: 0.7rem;
  }
}