@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-container{
  padding-top: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  justify-content: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-form{
  width: 250px;
}

h1{
  font-weight: 700;
}
*{
  font-family: 'Nunito Sans', sans-serif;
}

@media all and (max-width: 767px){
  .ant-form{
    width: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
